.THIS .nowrap {
	white-space: nowrap;
}

.THIS .prewrap {
	white-space: pre-wrap;
}

.THIS .bold {
	font-weight: bold;
}

.THIS .pointer {
	cursor: pointer;
}

.THIS.feed-item:first-child {
	border-top: 1px solid #d8dde6;
}
.THIS .feed-item-pro{background-color: #F0A86E;}
.THIS .span-link{cursor: pointer; color: #0070d2;}
.THIS .span-link:hover{text-decoration: underline;}
.THIS .wrap-text{word-wrap: break-word;}
.THIS .feed-icon-announcement{background-color: #FF0000 !important;}